<nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-info fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Pitch Perfect</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-info" aria-controls="navbar-info" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-info">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="javascript:void(0)">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-info" aria-controls="navbar-info" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="#">
                        <span class="nav-link-inner--text">{{current_user.username}}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="{{url_for('main.profile', uname=current_user.username)}}">
                        <span class="nav-link-inner--text">Profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="{{url_for('main.new_pitch', uname=current_user.username)}}">
                        <span class="nav-link-inner--text">Write Something</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="{{url_for('auth.logout')}}">
                        <span class="nav-link-inner--text">Sign Out</span>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="{{url_for('auth.login')}}">
                        <span class="nav-link-inner--text">Sign In</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>